/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
/* Markdown lists styling inside chatbot */
.prose ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}
.prose ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}
.prose strong {
  font-weight: 700;
}
.prose p {
  margin-bottom: 0.5rem;
}